{% extends 'base.html'%}

{% block titulo%}
  Listado de Usuarios
{% endblock titulo %}

{% block body %}

  {% if Usuarios %}
    <table>
      <thead>
        <tr>
          <th>#<th>
          <th>Nombre<th>
          <th>correo<th>
          <th>contraseña<th>
        </tr>

      </thead>
      <tbody>
    {% for usuario in Usuarios %}
      <tr>
        <td>{{ usuario.nombre_usuario }}</td>
        <td>{{ usuario.correo_usuario }}</td>
        <td>{{ usuario.contraseña_usuario }}</td>
        <td>{{ usuario.id_usuario }}</td>
    {% endfor %}
  </tbody>
</table>
{% else %}
  <h1> No existen autores registrados </h1>
{% endif %}

{% endblock body %}
