<link rel="stylesheet" href="{% static 'Evento/css/crea_evento.css' %}">
<!--Falta agregar el href para que regrese a la pagina principal -->
<a href="{% url 'Eventos:index' %}">Pagina Principal</a>
<div id="crear_evento" class="center">
    <form method="post" enctype="multipart/form-data">
    </form>
</div>
<table class="egt">
    <thead>
    <tr>
      <th>Evento</th>
      <th>Nombre del evento</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Organizado por</td>
      <td>Nombre del organizador</td>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <td>Detalles</td>
      <td>Detalles del evento</td>
    </tr>
    <tr>
      <td>Ubicacion</td>
      <td>Ubicacion del eventos</td>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <td>Numero de asistentes</td>
      <td></td>
    </tr>
    <tr>
      <td>Inicio: Fecha/Hora</td>
      <td>Fecha y hora de inicio</td>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <td>Fin: Fecha/Hora</td>
      <td>Fech y hora de finalizacion</td>
    </tr>
  </tbody>
</table>
<!--Regeresamos a la pagina donde vemso toda la lista de eventos -->
<input type="submit" value="Regresar">
